:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  max-width: 30rem;
}

main > * {
  width: 100%;
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
